@page "/login"
@layout PublicLayout

<div class="auth-bg">

    <div class="auth-panel fade-up">

        <h3 class="auth-title mb-3 text-white fw-bold">Login</h3>

        <form>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label text-white">Email</label>
                <div class="input-group">
                    <span class="input-group-text bg-white border-0">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email"
                           class="form-control auth-input"
                           placeholder="email@example.com" />
                </div>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label text-white">Password</label>
                <div class="input-group">
                    <span class="input-group-text bg-white border-0">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control auth-input"
                           placeholder="Your password" />
                </div>
            </div>

            <!-- Login Button -->
            <button class="btn btn-purple w-100 py-2 fw-bold mt-2">
                <i class="bi bi-box-arrow-in-right me-1"></i>
                Login
            </button>

        </form>

        <p class="text-center text-white mt-3 small">
            Don't have an account?
            <a href="/register" class="text-white fw-bold">Create Account</a>
        </p>

    </div>

</div>
