@page "/register"
@layout PublicLayout

@using CourseEnrollmentApp.Application.DTOs
@inject NavigationManager Nav
@inject AuthApiService AuthService

<AuthPanel Title="Create Account">

    <EditForm Model="_model" OnValidSubmit="Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- FULL NAME -->
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input class="form-control" @bind="_model.Name" required />
        </div>

        <!-- EMAIL -->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" @bind="_model.Email" type="email" required />
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" @bind="_model.Password" type="password" required />
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn-purple w-100 auth-btn" disabled="@_loading">
            @(_loading ? "Creating..." : "Register")
        </button>

    </EditForm>

    <p class="auth-footer">
        Already have an account?
        <a href="/login" class="text-white fw-bold">Login</a>
    </p>

</AuthPanel>

@code {
    private RegisterDto _model = new();
    private bool _loading = false;

    private async Task Submit()
    {
        _loading = true;

        Console.WriteLine("Register Submit() fired"); 

        var token = await AuthService.RegisterAsync(_model);

        _loading = false;

        if (string.IsNullOrEmpty(token))
        {
            Console.WriteLine("Register failed"); 
            return;
        }

        Console.WriteLine("Register success! Redirecting..."); 
        Nav.NavigateTo("/login");
    }
}
