@page "/register"
@layout PublicLayout

@using CourseEnrollmentApp.Application.DTOs
@inject NavigationManager Nav
@inject AuthApiService AuthService

<AuthPanel Title="Create Account">

    <EditForm Model="_model" OnValidSubmit="Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- FULL NAME -->
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input class="form-control" @bind="_model.Name" />
        </div>

        <!-- EMAIL -->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" @bind="_model.Email" type="email" />
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" @bind="_model.Password" type="password" />
        </div>

        <button type="submit" class="btn-purple w-100 auth-btn">
            Register
        </button>

    </EditForm>

    <p class="auth-footer">
        Already have an account?
        <a href="/login" class="text-white fw-bold">Login</a>
    </p>

</AuthPanel>

@code {
    private RegisterDto _model = new();

    private async Task Submit()
    {
        Console.WriteLine("SUBMIT FIRED"); // Debug message

        var token = await AuthService.RegisterAsync(_model);

        if (string.IsNullOrEmpty(token))
        {
            Console.WriteLine("REGISTER FAILED");
            return;
        }

        Console.WriteLine("REGISTER SUCCESS");
        Nav.NavigateTo("/login");
    }
}
