<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">

        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(PublicLayout)">
                <p>Sorry, page not found.</p>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
