@namespace CourseEnrollmentApp.Client.Components

<div class="searchbar-wrapper fade-up">
    <div class="input-group searchbar-container">
        <input class="form-control input-field"
               @bind="Value"
               @bind:event="oninput"
               placeholder="@Placeholder" />

        <span class="input-group-text input-icon">
            <i class="bi bi-search"></i>
        </span>
    </div>
</div>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Placeholder { get; set; } = "Search...";
}
